@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Category";
}
@model List<Category>
<div class="text-center">
    <h1 class="my-4">Category List</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
            <th>Name</th>
            <th>Display Order</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach(var cat in Model)
            {
                <tr>
                    <td>@cat.Name</td>
                    <td>@cat.DisplayOrder</td>
                </tr>
            }
           
        </tbody>
    </table>
</div>